body{
	background: #515962;
	}
a:link
	{
	color: #669933;
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	background: #b4d127;
	color:#666633;
}
a:visited
	{
	color: #669933;
	}
tr#top
{
  font-family: Impact;
  font-size: 18pt;
  color: #FFFFFF;
  background-color: #b4d127;
  text-align: center;
}
tr#left
{
  font-size: 14pt;
  text-align: inherit;
}
h3{
	font-family: Arial;
	font-size: 12pt;
	margin: -10px;
	color: #6abe67;
}